@tailwind base;
@tailwind components;
@tailwind utilities;
/* Custom Scrollbar Styles for WebKit Browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 8px; /* Adjust scrollbar width */
  height: 8px; /* Adjust scrollbar height for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: #2c2c2c; /* Dark grey background for scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #4a4a4a; /* Dark grey for the scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
  transition: background 0.3s ease; /* Smooth transition on hover */
}

::-webkit-scrollbar-thumb:hover {
  background: #606060; /* Slightly lighter grey on hover */
}

::-webkit-scrollbar-button {
  display: none; /* Hides the buttons */
}

::-webkit-scrollbar-corner {
  background: transparent; /* Hides the corner where vertical and horizontal scrollbars meet */
}
